<template>
    <div id="app" v-cloak :class="{ background: isHome() }">
        <div :class="[ isHome() ? 'header--home' : 'header' ]">
            <div class="logo">
                <div>
                    <h1 :class="[ isHome() ? 'logo__title--home' : 'logo__title' ]">CatClicker</h1>
                    <h4 :class="[ isHome() ? 'logo__subtitle--home' : 'logo__subtitle' ]">Premium Pro</h4>
                </div>
                <img src="img/avatars/coffee-cat-640.png" v-if="!isHome()" class="logo__image" alt="coffee-cat">
            </div>
            <ul class="nav" v-show="currentView=='play' && showNavigation">
                <li class="nav__item">
                    <a href="#" class="nav-button" @click.prevent="saveCats" title="Save to storage">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        <span class="nav-button__title">Save</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav-button" @click.prevent="cleanStorage" title="Clean storage">
                        <i class="fa fa-eraser" aria-hidden="true"></i>
                        <span class="nav-button__title">Clean</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav-button" @click.prevent="resetCats" title="Show default cats">
                        <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                        <span class="nav-button__title">Reset</span>
                    </a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav-button" @click.prevent="replaceCats" title="Replace cats with flickr's ones">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        <span class="nav-button__title">Replace</span>
                    </a>
                </li>
            </ul>
        </div>
        
        <keep-alive>
            <component :is="currentView" @page-was-changed="setView"></component>
        </keep-alive>

        <footer :class="{ 'footer--home': isHome() }">
            <p class='footer__text'>
                <span>Project was created for the educational purposes.</span>
            </p> 
            <p>© doctravik@gmail.com 2016</p>
        </footer>
    </div>
</template>

<script>
    import home from './components/Home.vue';
    import play from './components/Play.vue';

    export default {
        data() {
            return {
                currentView: 'home',
                showNavigation: true
            }
        },

        methods: {
            setView(view) {
                this.currentView = view;
            },

            isHome() {
                return this.currentView === 'home';
            },

            saveCats() {
                bus.$emit('cats-saved');
            },

            resetCats() {
                bus.$emit('cats-reset');
            },

            replaceCats() {
                bus.$emit('cats-replaced');
            },

            cleanStorage() {
                bus.$emit('clean-storage');
            },
        },

        components: {
            home, play
        }
    }
</script>