@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    font-size: 16px;
}

.header {
    display: flex;
    margin: 0 auto;
    max-width: 1150px;
    padding: 20px 16px 40px 16px;
    align-items: center;
    width: 100%;

    @media(max-width: 699px) {
        align-items: stretch;
        flex-direction: column;
    }

    @media (min-width: 768px) {
        padding: 20px 32px 30px 32px;
    }
}

footer {
    color: #555555;
    font-size: 14px;
    margin: 0 auto;
    max-width: 1150px;
    padding: 0 16px;
    text-align: center;
    width: 100%;

    @media (min-width: 768px) {
        padding: 0 32px;
    }
}

.footer--home {
    max-width: unset;
}

.footer__text {
    border-top: 1px solid #CCC;
    padding-top: 24px;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.background {
    background: url(img/home-background-1280.jpg) no-repeat center center;
    background-size: cover;

    @media (max-width: 600px) {
        background-image: url(img/home-background-640.jpg);
    }
}

.logo {
    display: flex;
    align-items: flex-start;
}

.logo__image {
    height: 90px;
}

.logo__title {
    color: black;
    font-weight: 400;
    margin: 0;
}

.logo__subtitle {
    color: black;
    font-weight: 400;
    margin: 0;
}

.content {
    flex: 1;
    margin: 0 auto;
    max-width: 1150px;
    width: 100%;
    padding: 0 16px;

    @media (min-width: 768px) {
        padding: 0 32px;
    }
}

.nav {
    margin: 40px auto 0;
    padding-left: 0;

    @media(min-width: 700px) {
        margin: 0;
        margin-left: auto;
    }
}

.nav__item {
    list-style-type: none;
    display: inline-block;

    &+& {
        margin-left: 2em;
    }
}

.nav-button {
    border-bottom: 3px solid transparent;
    color: #555;
    padding-bottom: 10px;
    text-decoration: none;
    
    &:hover {
        border-color: #52bab3;
        color: black;

        @media (max-width: 450px) {
            border-color: transparent;
        }
    }
}

.nav-button__title {
    @media (max-width: 450px) {
        display: none;
    }
}

i {
    margin-right: 8px;
}