<template>
    <div class="admin" v-show="showAdminArea">
        <div class="group">
            <label for="catName">Name:</label>
            <input type="text" class="admin__input" v-model="currentCat.name" autofocus>
        </div>
        <div class="group">
            <label for="catImgUrl">Link:</label>
            <input type="text" class="admin__input" v-model="currentCat.link">
        </div>
        <div class="group">
            <label for="catCounter">Counter:</label>
            <input type="text" class="admin__input" v-model="currentCat.counter">
        </div>
        <div class="admin__buttons">
            <div class="btn error" @click="cancelSave">Cancel</div>
            <div class="btn success" @click="saveCat">Save</div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['currentCat'],

        data() {
            return {
                showAdminArea: false,
                beforeEditCache: null,
            }
        },

        mounted() {
            bus.$on('admin-panel-toggled', () => {
                this.toggle();
            });
        },

        methods: {
            /**
             * Toggle admin area.
             *
             * return void
             */
            toggle() {
                this.showAdminArea ? this.close() : this.open();
            },

            /**
             * Show admin area.
             * 
             * @return void
             */
            open() {
                this.beforeEditCache = {
                    name: this.currentCat.name,
                    link: this.currentCat.link,
                    counter: this.currentCat.counter
                };

                this.showAdminArea = true;
            },

            /**
             * Hide admin area.
             * 
             * @return void
             */
            close() {
                this.showAdminArea = false;
            },

            /**
             * Cancel save process.
             * 
             * @return void
             */
            cancelSave() {
                this.currentCat.name = this.beforeEditCache.name,
                this.currentCat.link = this.beforeEditCache.link,
                this.currentCat.counter = this.beforeEditCache.counter,

                this.close();
            },

            /**
             * Save cat imformation and close admin area.
             * 
             * @return void
             */
            saveCat() {
                this.close();
            }
        }
    }    
</script>


<style>
    .admin {
        border-top: 1px solid #CCC;
        margin: auto;
        padding-top: 1em;
    }

    .admin__input {
        font-size: 14px;
        padding: 8px 12px;
        width: 100%;
    }

    .admin__buttons {
        margin-bottom: 1em;
        text-align: right;
    }

    .btn {
        color: white;
        cursor: pointer;
        display: inline-block;
        opacity: .8;
        padding: 8px 16px;
    }

    .btn:hover {
        opacity: 1;
    }

    .btn.error {
        background-color: #E91E63;
    }

    .btn.success {
        background-color: #43A047;
    }

    .group {
        align-items: center;
        display: flex;
        margin-bottom: 1em;
    }

    .group > label {
        width: 30%;
    }
</style>