<template>
    <ul class="list">
        <li v-for="cat in cats"
            @click="setCurrentCat(cat)" 
            :class="['list__item', { 'active': cat.id === currentCat.id }]">
                <div class="cat__media">
                    <img :src="cat.thumbnail" class="cat__avatar" alt="cat thumbnail">                    
                    <div class="cat__counter">{{ cat.counter }}</div>
                </div>
                <div class="cat__name">{{ cat.name }}</div>
        </li>
    </ul>
</template>

<script>
    export default {
        props: ['cats', 'currentCat'],

        methods: {
            /**
             * Set the given cat as a currentCat.
             * 
             * @param object cat
             */
            setCurrentCat(cat) {
                this.$emit('change-current-cat', cat);
            },
        }
    }
</script>

<style>
     .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
        margin: 0 0 20px 0;
    }

    .list__item {
        align-items: center;
        border: 1px solid #CCC;
        border-radius: 4px;
        color: #ccc;
        cursor: pointer;
        list-style-type: none;
        margin-bottom: 16px;
        overflow: hidden;
        width: 200px;

        &:last-child {
            margin-right: 0;
        }
    }
    
    .cat__media {
        align-items: center;
        display: flex;
        height: 100px;
        justify-content: space-around;
    }

    .cat__avatar {
        border-radius: 100%;
        height: 70px;
        width: 70px;
    }

    .cat__name {
        background-color: #EDEFF0;
        border-top: 1px solid #CCC;
        color: #676;
        font-size: 16px;
        font-weight: 700;
        padding: 10px;
        text-align: center;
    }

    .cat__counter {
        color: rgba(255,165,0,.6);
        font-size: 36px;
        text-align: center;
    }
    
    .list__item:hover,
    .list__item.active {
        border-color: #888;
        
        & > .cat__name {
            background-color: #DDD;
            color: #333;
        }
    }   
</style>