<template>
    <div class="content--home">
        <div class="inspiration">
            <p class="inspiration__description">Inspired by Udacity online course</p>
            <p class="inspiration__course">
                <a href="https://www.udacity.com/course/javascript-design-patterns--ud989" target="_blank">
                    "JavaScript Design Pattern"
                </a>
            </p>
        </div>
        
        <div class="coffee-cat">
            <img src="img/avatars/coffee-cat-640.png" class="coffee-cat__img" alt="coffee-cat">
        </div>
        
        <div class="click-me-button">
            <a href="#" class="click-button" @click.prevent="linkToPlayPage">Click me!</a>
        </div>
    </div>
</template>

<script>
    export default {
        methods: {
            linkToPlayPage() {
                this.$emit('page-was-changed', 'play');
            }
        }
    };
</script>

<style>
    .header--home {
        display: flex;
        padding: 20px 16px 40px 16px;

        @media (min-width: 768px) {
            padding: 20px 32px 40px 32px;
        }
    }

    .logo__title--home {
        color: white;
        font-weight: 400;
        margin: 0;
    }
    
    .logo__subtitle--home {
        color: whitesmoke;
        font-weight: 400;
        margin: 0;
    }

    .content--home {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;
        margin-bottom: 2em;
        padding: 0 16px;

        @media (min-width: 768px) {
            padding: 0 32px;
        }
    }

    .inspiration {
        color: white;
        font-size: 20px;

        @media(min-width: 768px) {
            font-size: 22px;
        }
    }

    .inspiration__description {
        opacity: .7;
    }

    .inspiration__course {
        font-size: .9em;

        & > a {
            color: white;
            text-decoration: none;
        }
    }

    .coffee-cat__img {
        width: 150px;
    }

    .click-button {
        background-color: #E3A02D;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        display: block;
        font-size: 18px;
        line-height: 1.5;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;

        &:hover {
            background-color: orange;
        }

        @media (min-width: 400px) {
            display: inline-block;
            margin-left: 100px;
        }
    }
</style>