<template>
    <div class="content">
        <div class="container">
            <cat-navigation 
                :cats="cats" 
                :current-cat="currentCat" 
                @change-current-cat="setCurrentCat">
            </cat-navigation>
            <viewport :current-cat="currentCat"></viewport>
        </div>
    </div>
</template>

<script>
    import store from './../store.js';
    import Jsonp from './../jsonp.js';
    import viewport from './Viewport.vue';
    import adminPanel from './AdminPanel.vue';
    import catNavigation from './CatNavigation.vue';
    import CatStorage from './../storage/CatStorage.js';
    import CatLocalStorage from './../storage/CatLocalStorage.js';

    export default {
        data() {
            return {
                cats: null,
                currentCat: null,
                storage: null,
                defaultCats: store ? store.cats : []
            }
        },

        created() {
            this.setStorage();
            this.reload();
        },

        mounted() {
            this.listenEvents();
        },

        methods: {
            listenEvents() {
                bus.$on('cats-saved', () => {
                    this.storage.setCats(this.cats);
                });

                bus.$on('cats-reset', () => {
                    this.storage.setCats(this.defaultCats);

                    this.reload();
                });

                bus.$on('cats-replaced', () => {
                    this.replaceCats();
                });

                bus.$on('clean-storage', () => {
                    this.storage.unsetCats();
                });

                bus.$on('counter-incremented', () => {
                    this.currentCat.counter++;
                });

                bus.$on('counter-decremented', () => {
                    if(this.currentCat.counter === 0) {
                        return;
                    }

                    this.currentCat.counter--;
                });
            },

            /**
             * Set storage
             *
             * @return void
             */
            setStorage() {
                try {
                    let testVariable = 'localstorage_test_' + Date.now();
                    localStorage.setItem(testVariable, testVariable);
                    if(localStorage.getItem(testVariable) !== testVariable) {
                        throw new Error('Error when it stored value to localStorage');
                    }
                    localStorage.removeItem(testVariable);
                    this.storage = new CatLocalStorage(this.defaultCats);
                }
                catch(e) {
                    this.storage = new CatStorage(this.defaultCats);
                }
            },

            /**
             * Update cats collection.
             * 
             * @return void
             */
            reload() {
                this.cats = this.storage.getCats();

                this.setCurrentCat(this.cats[0]);
            },

            /**
             * Replace current collection of the cats with new one from Flickr
             * 
             * @return void
             */
            replaceCats() {
                this.fetchCatsFromFlickr()
                    .then(response => {
                        let newCats = this.getFlickrCats(response.items);

                        this.storage.setCats(this.normalizeFlickrCats(newCats));

                        this.reload();
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },

            /**
             * Choose cats from flickers response
             *
             * @param array cats
             * @return array
             */
            getFlickrCats(cats)
            {
                let newCats = [];

                if(cats.length < 20) {
                    return cats.slice(0, 5);
                }

                cats.forEach((cat, index) => {
                    if(index === 0 || index % 4 === 0) {
                        newCats.push(cat);
                    }
                });

                return newCats;
            },

            /**
             * Fetch cat collection from the Flick.com
             * 
             * @return Promise
             */
            fetchCatsFromFlickr() {                
                return Jsonp.fetch('//api.flickr.com/services/feeds/photos_public.gne?format=json&tags=cat&size=z&jsoncallback=?');
            },

            /**
             * Adapt flickr object to the needs of current app.
             * 
             * @param  array flickrCats
             * @return array
             */
            normalizeFlickrCats(flickrCats) {
                return flickrCats.map((image, index) => {
                    return {
                        id: ++index,
                        name: image.title ? image.title.slice(0, 20) : 'Noname',
                        src: image.media.m.replace('_m.', '_z.'),
                        thumbnail: image.media.m,
                        link: image.link,
                        counter: 0
                    }
                });
            },

            /**
             * Set the given cat as a currentCat.
             * 
             * @param object cat
             */
            setCurrentCat(cat) {
                this.currentCat = cat;
            }
        },

        components: { adminPanel, catNavigation, viewport }
    };
</script>