<template>
    <div class="viewport">
        <img class="viewport__image" :src="currentCat.src" @click="incrementCounter" alt="cat image">
        <div class="viewport__description">
            <span class="viewport__name">
                <strong>{{ ucfirst(currentCat.name) }}</strong>
                <span>({{ level }})</span>
            </span>
            <span class="viewport__admin" @click="toggleAdminPanel">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </span>
            <div class="viewport__counter">
                <i class="fa fa-caret-left" aria-hidden="true" @click="decrementCounter"></i>
                <span class="viewport__click">{{ currentCat.counter }}</span>
                <i class="fa fa-caret-right" aria-hidden="true" @click="incrementCounter"></i>
            </div>
        </div>
        <admin-panel :current-cat="currentCat"></admin-panel>
    </div>
</template>

<script>
    import store from './../store.js';
    import {ucfirst} from './../helpers.js';
    import AdminPanel from './AdminPanel.vue';
    
    export default {
        props: ['currentCat'],

        computed: {
            level: function() {
                let temp = null;

                for(let level in this.levels) {
                    if (this.levels[level].indexOf(this.currentCat.counter) !== -1) {
                        temp = level;
                    }
                }
                  
                if(!temp) { return 'ninja'; }
                  
                return temp;
            },

            levels: function() {
                return store ? store.levels : {};
            }
        },

        methods: {
            /**
             * Increment number of clicks.
             * 
             * @return void
             */
            incrementCounter() {
                bus.$emit('counter-incremented');
            },

            /**
             * Decrement number of clicks.
             * 
             * @return void
             */
            decrementCounter() {
                bus.$emit('counter-decremented');
            },

            toggleAdminPanel() {
                bus.$emit('admin-panel-toggled');
            },

            /** 
             * Capitalize first letter of the word.
             */
            ucfirst
        },

        components: { AdminPanel }
    }
</script>


<style>
    .viewport {
        margin: auto;
        width: 500px;

        @media (max-width: 550px) {
            width: 100%;
        }
    }

    .viewport__image {
        border-radius: 4px;
        border: 1px solid #CCC;
        padding: 3px;
        display: block;
        max-width: 100%;
    }

    .viewport__description {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 1em 0;
    }

    .viewport__name {
        background-color: transparent;
        border-radius: 4px;
        color: black;
        display: inline-block;
        font-size: 20px;
        text-align: center;
    }

    .viewport__click {
        background-color: #039BE5;
        border-radius: 4px;
        color: white;
        display: inline-block;
        font-size: 16px;
        margin-left: auto;
        padding: 8px 12px;
        text-align: center;
    }

    .viewport__admin {
        cursor: pointer;
        margin-right: 20px;

        & > i {
            margin-left: 10px;
            padding: 10px;
        }
    }

    .viewport__counter {
        margin-left: auto;
        min-width: 118px;
        text-align: right;
    }

    .fa-caret-left,
    .fa-caret-right {
        cursor: pointer;
        margin: 0;
        opacity: .75;
        padding: 8px 12px 8px 12px;

        &:hover {
            opacity: 1;
        }
    }
</style>